@model IEnumerable<CarPark.Entities.Concrete.Personnel>

@{
    ViewData["Title"] = "GetPersonnelsHasEmailAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetPersonnelsHasEmailAddress</h1>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Oluşturulma Tarihi </th>
        <th>Kullanıcı Adı</th>
    </tr>
    @foreach (var personnel in Model)
    { 
        <tr>
            <td>@personnel.Id</td>
            <td>@personnel.Email</td>
            <td>@personnel.CreatedDate</td>
            <td>@personnel.UserName</td>
        </tr>   
    }
</table>
